*/
/*
.luarc.json
lazyvim.json
!/.gitignore
!pam_environment
!awesome/
!awesome/*/
!awesome/*/*/
!awesome/*/*/*/
!doom/
!doom/*/
!i3/
!kitty/
!nvim/
!nvim/*/
!nvim/*/*/
lazy-lock.json
!picom.conf
!polybar/
!ranger/
/ranger/plugins/
!zsh/
!alacritty.toml
!rofi/
!hypr/
!eww/
!eww/*/
!eww/*/*/
!wallpaper/
!waybar/
!waybar/*/
!wezterm/
!wezterm/*/
