*/
/*
!/.gitignore
!/awesome/
!/awesome/*
!/awesome/*/
!/awesome/*/*
!/awesome/*/*/
!/awesome/*/*/*
!/emacs/
!/emacs/*
!/i3/
!/kitty/
!/kitty/*
!/nvim/
!nvim/*
!nvim/*/*
/nvim/plugin/
!picom.conf
!/polybar/
!/ranger/
/ranger/plugins/
!/zsh/
